body{
  padding: 20px;
}

.sidebar li {
  list-style: none;
}

.player-container{
  margin-left: 50px;
  margin-top: 220px;
}
.video-player{
  
  padding: 30px 0 30px 30px;
  width: 500px;
  height: 500px;
  background-color: rgb(80, 78, 78);
}

main{ 
  display: flex;
}